<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    <div class="media">
      <img class="mr-3, side-img" src="/assets/images/bearsuit.png">
  </div
  </h3>
  <p>
  <div class="card" style="width: 18rem;">
   <div class="card-body">
     <h5 class="card-title">Tony McNevin</h5>
     <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
     <p class="card-text"></p>
     <a href="https://github.com/amcnevin" class="card-link"><i class="fab fa-github"></i></a>
     <a href="https://www.linkedin.com/in/tony-mcnevin-8aa4155/" class="card-link"><i class="fab fa-linkedin"></i></a>
     <a href="https://www.hackerrank.com/amcnevin" class="card-link"><i class="fas fa-code"></i></a>
   </div>
 </div>
  </p>
</div>
